__pycache__/
.DS_Store
*.pyc
*.log
*.swp
*.retry
*.sqlite3
.env
.idea
.vscode
*~
/logs
/data
postgresql
postgresql/*
postgresdata
postgresdata/*
.~*
common/CACHE
node_modules
venv
.venv
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
data.json