/* ./dupr/static_src/css/input.css */
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "matthijs";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0.016 73.684);
    --color-base-300: oklch(90% 0.076 70.697);
    --color-base-content: oklch(19.162% 0 0);
    --color-primary: oklch(44% 0.177 26.899);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(50% 0.213 27.518);
    --color-secondary-content: oklch(90% 0.076 70.697);
    --color-accent: oklch(50% 0.213 27.518);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(82% 0.189 84.429);
    --color-neutral-content: oklch(0% 0 0);
    --color-info: oklch(55% 0.135 66.442);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(63% 0.237 25.331);
    --color-warning-content: oklch(100% 0 0);
    --color-error: oklch(53.07% 0.241 24.16);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
  }
  
  